body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.marcadores{
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 100px);
    gap: 8px;
}
.item-mark{
    border: 3px solid white;
    background-color: black;
    color: white;
}
.mensaje{
    display: flex;
    position: relative;
    margin: 0 auto;
    margin-top: 2%;
    gap: 10px;
    width: 500px;
    height: 100px;
}
.textoGanador{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center;
}
.container {
    display: grid;
    position: relative;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    justify-content: center;
    margin-top: 5%;
}
.item-container {
    background-color: aquamarine;
    border: 5px solid darkblue;
    cursor: pointer;
    text-align: center;
    align-content: center;
    font-size: 40px;
}
.item-container:hover {
    background-color: rgba(255, 0, 0, 0.64);
}
.boton-reinicio{
    display: flex;
    position: relative;
    justify-content: right;
    margin-top: 5%;
    margin-right: 17%;
}
.reinicio{
    background-color: rgba(64, 255, 0, 0.829);
    height: 40px;
    font-family:fantasy;
    font-size: 18px;
}